/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
/* ICONS */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
/* COMPONENTS */
@import url("components/button.css");
@import url("components/card.css");
@import url("components/avatar.css");

/* GENERAL SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {      /* so you cannot see background when you scroll down to the bottom*/
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background: linear-gradient(160deg, rgb(52, 123, 73), rgb(52, 123, 73));
  /* background: linear-gradient(160deg, #faf, #88f); */
  background-size: cover;
  background-attachment: fixed;    /* The background is fixed relative to the viewport.  */
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 38px;
  letter-spacing: 1.5px;
}
h3 {
  font-size: 14px;
  background: #111;
  color: #fff;
  line-height: 20px;
  border-radius: 5px 5px 0 0;
}
h3::before {
  content: "\00a0\00a0\00a0🔴 🟢  \00a0 \00a0";
  font-size: 0.66rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
.link { transition: 0.2s; }
.link:hover { transform: translateY(-0.15em); }

main {
  width: 100%;
  max-width: 900px;
  background: #fff;
  margin: 60px auto;
  padding: 60px;
}
p {
  padding: 0 0 14px;    /* top | horizontal | bottom */
  line-height: 24px;
}
header {display: none;}
/* REMOVEEeeeeeeeeeee */

/* --------------- PANEL --------------- */
.panel {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  column-gap: 6%;
}
.push-desktop {
  flex: 1;        /* the remaining space is filled by this */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.push-desktop p {
  font-size: 20px;
  color: rgb(92, 92, 92);
}
.networks img {
  width: 48px;
  height: auto;
}
.networks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  align-content: space-between;
}
.networks img { display: block; }     /* so the a tag occupies just the space of the img  */


/* --------------- SELF_INTRO --------------- */
.self-intro {
  padding: 20px 0;
  text-align: justify;
}

/* --------------- PRODUCTS --------------- */
.products_display {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3%;
  row-gap: 40px;
}

/* --------------- TOOLTIPS--------------- */
.coding-icons img {
  width: 20px;
  height: auto;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(196, 196, 196);
  color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: -28%;
  left: 0%;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -26%;
  left: 8%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(196, 196, 196)  transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* --------------- MEDIA_QUERIES--------------- */
@media (max-width: 767px) {
  h1 {
    font-size: 35px;
    letter-spacing: 1px;
  }
  main {
      padding: 30px;
  }
  .panel {
    flex-wrap: wrap;
    row-gap: 18px;
  }
  .networks {
      display: flex;
      justify-content: space-around;
      width: 100%;      /* this makes that .networks goes below */
    }
  .products_display {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 456px) {
  main {
      padding: 14px;
  }
  h1 { font-size: 32px;}
  h2 { font-size: 20px;}
  h3 { font-size: 12px;}

  .panel {
    justify-content: space-around;
  }
  .panel :nth-of-type(1) { order: 1; }
  .panel :nth-of-type(2) { order: 3; }
  .panel :nth-of-type(3) { order: 2; }

  .networks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;      /* bc in the previus mediaQuery is 100%, so I need to fix it */
  }
  .push-desktop .btns {
    margin: auto;
  }
  .products_display {
    grid-template-columns: repeat(1, 1fr);
  }
}



