/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
/* ICONS */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
/* COMPONENTS */
@import url("components/button.css");
@import url("components/card.css");
@import url("components/tooltip.css");

/* GENERAL SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {      so you cannot see background when you scroll down to the bottom */
  /* height: 100%; */
/* } */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  /* background: linear-gradient(160deg, rgb(52, 123, 73), rgb(52, 123, 73)); */
  /* background: linear-gradient(160deg, #faf, #88f); */
  background: linear-gradient(160deg, #222E50, #B37BA4);
  /* #46237A */
  background-size: cover;
  background-attachment: fixed;    /* The background is fixed relative to the viewport.  */
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 38px;
  letter-spacing: 1.4px;
}
h2 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  display: inline-block;
}
.link { transition: 0.2s; }
.link:hover { transform: translateY(-0.15em); }

main {
  width: 100%;
  max-width: 900px;
  background: #fff;
  margin: 60px auto;
  padding: 60px;
  border-radius: 16px;
}
p {
  padding: 0 0 14px;    /* top | horizontal | bottom */
  line-height: 24px;
}
section { margin-bottom: 50px; }
section:last-child { margin-bottom: 0px; }

/* .mobile {display: none;} */
/* header {display: none;} */
/* #products {display: none;} */
/* #contributions {display: none;} */
/* #experiments {display: none;} */
/* REMOVEEeeeeeeeeeee --------------------------------------------------*/

/* --------------- PANEL --------------- */
.panel {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  column-gap: 5%;
}
.avatar img {
  width: 120px;
  height: auto;
  border-radius: 50%;
}
.push-desktop {
  flex: 1;        /* the remaining space is filled by this */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.push-desktop p {
  font-size: 20px;
  color: rgb(92, 92, 92);
}
.networks img {
  width: 48px;
  height: auto;
}
.networks {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  /* align-content: space-between; */
}
.networks img { display: block; }     /* so the a tag occupies just the space of the img  */


/* --------------- SELF_INTRO --------------- */
.self-intro {
  padding: 20px 0;
  text-align: justify;
}

/* --------------- PRODUCTS --------------- */
.products_display {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3%;
  row-gap: 40px;
}
#products p {padding-bottom: 0;}

/* --------------- EXPERIMENNTS --------------- */
.experiments_display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3%;
}
#experiments h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #0033c3;
  transition: 0.2s;
}
#experiments h3:hover {
  color: #c300b3;
}
.experiment p {
  font-size: 14px;
  margin-left: 4px;
  padding-bottom: 0;
}

/* --------------- GITHUB CONTRIBUTIONS--------------- */
#contributions h2 {margin-bottom: 14px;}

#contributions {
  margin-bottom: 24px;
}
.gh-img-container {
  display: flex;
  justify-content: center;
}
#contributions img {
  margin-top: 16px;
  display: block;
  width: 95%;
  height: auto;
}
.skills-group > span {
  width: 118px;   /* so all skills_tags have same starting point */
}
.skills-group {
  display: flex;
  margin-left: 8px;
  margin-bottom: 4px;
}
.skills-container {
  flex-grow: 1;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 3px;
}
.tag {
  font-size: 12px;
  border: 1px solid #aaa;
  padding: 3px 8px 2px;
  margin: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.tag i {
  font-size: 15px;
}


.credits {
  font-size: 13px;
  text-align: center;
  padding-bottom: 0;
  color: rgb(92, 92, 92);
}


/* --------------- MEDIA_QUERIES--------------- */
@media (max-width: 767px) {
  h1 {
    font-size: 35px;
    letter-spacing: 1px;
  }
  main {
      padding: 30px;
  }
  .panel {
    flex-wrap: wrap;
    row-gap: 18px;
  }
  .networks {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;      /* this makes that .networks goes below */
    }
  .products_display, 
  .experiments_display {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 456px) {
  main {
      padding: 14px;
  }
  .product { margin: 0 24px;}
  h1 { font-size: 32px;}
  h2 { font-size: 20px;}
  h3 { font-size: 14px;}

  .panel :nth-of-type(1) { order: 1; }
  .panel :nth-of-type(2) { order: 3; }
  .panel :nth-of-type(3) { order: 2; }

  .panel {
    justify-content: space-around;
    column-gap: 7%;
  }

  .networks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;      /* bc in the previus mediaQuery is 100%, so I need to fix it */
  }
  .push-desktop .btns {
    margin: auto;
  }
  .products_display,
  .experiments_display {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* contact by email */
/* poner resume en boton de resume */
/* subir una web con mongo a heroku */
/* minesweeper tactil */
/* arrows in mapbox */
/* referral en line y indeed */
/* reproduce video on hover */
/* border on tooltip */
/* border-bottom despues de main*/


/* todas img de mismo tamano
cover no se deforma
h3 height 20px
img height calc(100%-20px) */
/* lightbox js */

/* formulatio megumi tipi emial */

/* megumi kataoka img 100% y grd colum gap 10px */
/* buscar consexiones linkein, como conseguiste trabajo, */