/* Im not applying style to main */
/* for japanese text maybe I need to input in a span andmake them smaller */

/* --------------- INITIAL_SETUP --------------- */
/* #tech-stack {display: none;} */
/* #projects {display: none;} */
/* #experience {display: none;} */
/* #formation {display: none;} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #eee;
}

html,
body {
  font-size: 16px;
  font-family: Arial, 'Roboto', sans-serif;
  color: #333;
}

body {
  background: #fff;
  margin: 60px auto 200px;
  max-width: 900px;
  /* padding: 5rem; */
  box-shadow: 0 0 10px #ccc;
}
p, ul { line-height: 1.5; }
main {
  padding: 80px;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  /* border-bottom: 2px solid #faf; */
  /* border-bottom: 2px solid #b903c4; */
  border-bottom: 2px solid #088aff;
  padding-bottom: 10px;
  /* distance between the text and the line */
  margin-bottom: 10px;
  /* distance between the line and the links */
}

h2 {
  font-size: 24px;
  font-weight: normal;
  /* border-bottom: 2px dashed #faf; */
  /* border-bottom: 2px dashed #b903c4; */
  border-bottom: 1px solid #ff5f0d;
  padding-bottom: 6px;
  margin-bottom: 16px;
}

h3 {
  font-size: 19px;
  font-weight: normal;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #333;
}
section, 
header {
  margin-bottom: 40px;
}
section:last-child { margin-bottom: 0;}

.button {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.button:hover {
  background-color: #eee;
  transition: background 0.3s;
}

.japanese {
  line-height: 22px;
}
/* ----------------- HEADER ----------------- */
.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.container1 {
  flex: 1;
  /* makes that all of these divs take the same space */
  /* abbreviation for f-grow 1, f-shrink 0, f-basis 0 */
  display: flex;
}

.container1:nth-of-type(2) {
  justify-content: center;
}

.container1:nth-of-type(3) {
  justify-content: end;
}

.link {
  padding: 5px 14px;
  /* make the button wider */
}

.download-pdf {
  float: right;
  font-size: 18px;
  padding: 8px 18px;
  /* make the button wider */
}

.icon-file-pdf {
  font-size: 22px;
  margin-right: 7px;
}

.icon-links {
  font-size: 20px;
  /* for the icons as fonts */
  height: 20px;
  /* for the icon as image */
  width: auto;
  margin-right: 6px;
}
.self-intro {
  display: flex;
  justify-content:baseline;
  margin-bottom: 20px;
  font-style: italic;
}
/* ----------------- TECH STACK ----------------- */
#tech-stack, 
#languages {
  display: flex;
  align-items: center;
}

.skills-container {
  padding: 0px 24px;
  flex-grow: 1;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 3px;
}

.tag {
  font-size: 12px;
  border: 1px solid #aaa;
  padding: 2px 8px;
  margin: 0;
  border-radius: 5px;
}

/* ----------------- EXPERIENCE & FORMATION ----------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 28px;
  row-gap: 24px;
}
ul {
  list-style-type: circle;
}
ul li {
  margin-left: 18px;
}
.grid p {
  margin-left: 2px;
}



.year {
  font-size: 0.8rem;
  color: #aaa;
  float: right;
  line-height: 22px;
}

/* ----------------- CODING PROJECTS ----------------- */
.tags {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 3px;
}


/* --------------- MEDIA_QUERIES--------------- */
@media (max-width: 767px) {
  main {
      padding: 30px;
  }
}
@media (max-width: 640px) {
  .skills-conteiner,
  .links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .download-pdf {
    display: none;
  }
}
@media (max-width: 456px) {
  main {
      padding: 14px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #languages .tag {
    width: 146px;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}